aiohttp==3.6.3
async-timeout==3.0.1
attrs==20.3.0
chardet==3.0.4
colorama==0.4.4
colouredlogs==10.0.1
discord.py==1.5.1
humanfriendly==4.7
idna==2.10
motor==2.3.0
multidict==4.7.6
pymongo==3.11.2
pyreadline==2.1
snowflake.py==1.0.0
yarl==1.5.1
