aiohttp==3.7.4
astunparse==1.6.3
async-timeout==3.0.1
attrs==20.3.0
braceexpand==0.1.6
chardet==3.0.4
colorama==0.4.4
colouredlogs==10.0.1
discord.py==1.6.0
dnspython==2.6.1
humanfriendly==4.7
humanize==3.2.0
idna==2.10
import-expression==1.1.4
jishaku==1.20.0.220
motor==2.3.0
multidict==4.7.6
pymongo==3.11.2
pyreadline==2.1
six==1.15.0
snowflake.py==1.0.0
yarl==1.5.1
